@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0e0f14;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .area-chart-container .tv-lightweight-charts,
.area-chart-container table,
.area-chart-container td,
.area-chart-container canvas {
  background-color: #0e0f14 !important;
}
}
.tv-lightweight-charts{
  background-color: #0e0f14 !important;
}
